.root{
   -fx-background-color: #262626;
}

.login-button{
    -fx-background-color: rgb(102, 153, 255);
    -fx-text-fill: #FFFFFF;
}
.login-wrong{
    -fx-background-color: #D52525;
}

.login-label {
    -fx-text-fill: #FFFFFF;
}